
* {
  padding: 0px;
  margin: 0px;
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
}

section {
  padding: 20px;
}

h1, h2 {
  font-weight: normal;
}

.posts-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.post-item {
  width: calc(100% / 4 - 40px);
  min-width: 250px;
  min-height: 250px;
  padding: 10px;
  margin: 10px;
}

.post-item > div,
.post-item > div > div {
  display: block;
  width: 100%;
  height: 100%;
}

.post-item > div > div {
  position: relative;
}

.post-item .button-control {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
}
.post-item .button-control > button {
  flex: 1;
}